<p id="notice"><%= notice %></p>

<h1>僕だけの練習日記</h1>
<p>練習内容を記載しよう</p>

<%= link_to '新規投稿', new_event_path %>

<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>
  <% events.each do |event| %>
    <div>
      <%= link_to event.title, event %>
    </div>
  <% end %>
<% end %>